
  .nav{
    background-color: bisque;
    margin: 15px 15px;
    position: relative;
  }
  .footer{
    padding: 10px 0px;
    background-color: bisque;
    margin: 15px 15px;
    text-align: center;
  }
  .footer ul{
    list-style-type: none;
  }
  .footer ul div li{
    display: inline;
    margin-right: 10px;
  }
  .footer ul div li a{
    color: black;
    text-decoration: none;
  }
  #logo{
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
  }
  .logocontainer{
    width: 150px;
    height: 100px;
    margin: 0px 60px;
    padding: 5px 0px;
    display: inline-block;
  }
  .row{
    position: absolute;
    right: 70px;
    display: inline-block;
    padding-top:50px ;
  }
  .reseausoc{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    
  }
.lienres ,.res{
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
}
.lienpr{
    display: inline-block;
    padding: 5px 0.5% 15px  0.5%;
    width: 11%;
    text-align: center;
    margin-bottom: 10px;
   
}
.lienprclic{
    background-color: rgb(250, 250, 250);
}
.lienpr a{
    font-size: 20px;
    text-decoration: none;
   
}
.cont_info{
    text-align: center;
}
.cont_info p{
    margin: 15px 30px;
    font-size: 23px;
}
.img img{
    border-radius: 5px;
    width: 80%;
    object-fit: cover;
    height: 700px;
}
#signup,#profil{
  background: none;
  border: 0;
  cursor: pointer;
  color: rgb(104, 96, 90);
  font-size: 22px;
  text-decoration: none;
}
#signup:hover,#profil:hover{
  color:rgb(245, 124, 11);
}
